body {
  text-align: center;
  background: radial-gradient(circle,
      #ff6a00,
      #f287a3,
      #9275c7,
      #3b4f7d,
      #12151c);
  margin: 0;
}

/* #intro {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  height: 100px;
  width: 90%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  border-radius: 10px;
  border: 1px solid lightgrey;
} */

#name {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 55px;
  margin-top: 10px;
  font-family: cursive;
  text-align: center;
  align-self: center;
  color: white;
  font-weight: 550;
  margin-left: 70px;
  margin-right: 20px;
}

#header {
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

#description {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  /* margin-bottom: 80px; */
  text-align: center;
  height: 80px;
  width: 80%;
  display: inline-block;
  color: white;
  line-height: 1.5;
  align-self: center;
}

.attach {
  display: inline-block;
  padding: 10px 20px;
  align-self: flex-start;
  color: black;
  border: 1px solid lightgray;
  width: 80%;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.attach:hover {
  background-color: rgb(215, 229, 249);
  opacity: 0.75;
  cursor: pointer;
}

.content {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 8px;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: large;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  align-self: flex-start;
  transition: all 0.3s ease;
}

.content:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.text {
  position: block;
  display: inline-flex;
  justify-content: center;
  align-self: center;
  height: 120px;
  width: 85%;
  max-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px;
  resize: none;
  outline: none;
}

.heading {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

#profile {
  height: 48px;
  width: 48px;
  fill: white;
  background-color: rgb(215, 229, 249);
  /* border: 1px solid lightgrey; */
  padding: 5px;
  margin-right: 80px;
  border-radius: 50%;
  margin-right: 50px;
  transition: 0.3s ease;
}

#profile:hover {
  opacity: 0.75;
  cursor: pointer;
}